.venv
.env
__pycache__
.DS_Store
.venv/
*.pyc
.streamlit/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.log
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp
*.egg-info/
dist/
build/
*.egg
*.log
*.pot
*.mo
*.cover
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.log
*.pot
*.mo
.github/
.git/
.gitignore